# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view': [
    {
      'label': 'Zip Selected'
      'command': 'zip-folder:run'
    }
  ]
